<head>
    <title><3 <3 <3</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
<div id="main_container">
    <div id="chat_list">
        <div id="user_search">
            <input v-on:keyup.enter="findUser" id="user_search_input" placeholder="Search user (name or ID)">
        </div>
        <div v-for="chat in chats">
            <a v-on:click="chatChange(chat.chatId)">
                <div id="available_chat">
                    <img id="user_avatar" src="blank-profile-picture.png">
                    <div id="chat_info_container">
                        <span id="chat_interlocutor">{{chat.interlocutor.name}}</span>
                        <span id="chat_last_message_time">{{chat.lastMessage.date.substring(11, 16)}}</span><br>
                        <span id="chat_last_message">{{chat.lastMessage.content.length > 32 ?
                                chat.lastMessage.content.slice(0, 32) + "..." :
                                chat.lastMessage.content}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="chat_window">
        <div id="chat_messages">
            <div id="message_container"
                 v-for="message in messages"
                 v-bind:style="message.user.id  !== client_id ? { backgroundColor: 'lightpink' } :
                [{ backgroundColor: 'lightblue'}, {marginLeft: 'auto' }, {marginRight: '6px' }]">
                <div id="message_content">
                    <div id="message_text">
                        <span>{{message.content}}</span>
                    </div>
                    <div id="message_time">
                        <span>{{message.date.substring(11, 16)}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="new_message_input">
            <input id="message_input" v-on:keyup.enter="send"/>
            <button id="message_send_btn" v-on:click="send">Send</button>
        </div>
    </div>
</div>
<script>
    let hubConnection
    let app = new Vue({
        el: '#main_container',
        data: {
            chats: [],
            messages: [],
            client_id: 0,
            chat_id: 0
        },
        mounted: async function () {
            await fetch('/')
                .then(async data => {
                    this.client_id = await parseInt(data.headers.get("client_id"))
                })
            this.updateChats()

            var elem = document.getElementById('chat_messages');
            elem.scrollTo(0, elem.scrollHeight);
        },
        created: async function () {
            hubConnection = new signalR.HubConnectionBuilder().withUrl("chatsignalr").withAutomaticReconnect().build()
            hubConnection.on("Receive", async (message) => {
                this.updateMessages()
                this.updateChats()
                var elem = document.getElementById('chat_messages');
                elem.scrollTo(0, elem.scrollHeight);
            })
            hubConnection.start()
        },
        methods: {
            updateMessages: async function () {
                await fetch('/chat/messages', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'chatId': this.chat_id
                    },
                })
                    .then(async data => {
                        this.messages = await data.json();
                    })

                var elem = document.getElementById('chat_messages');
                elem.scrollTo(0, elem.scrollHeight);
            },
            updateChats: async function () {
                await fetch('/chat/chats', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'chatId': this.chat_id
                    },
                })
                    .then(async data => {
                        this.chats = await data.json();
                    })
            },
            send: async function () {
                let text = document.getElementById('message_input').value
                if (text === null || text.trim() === '')
                    return

                document.getElementById('message_input').value = ""

                await fetch("/chat/send", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'content': encodeURIComponent(text.trim()),
                        'chatId': this.chat_id
                    }
                })

                this.updateMessages()
                this.updateChats()

                var elem = document.getElementById('chat_messages');
                elem.scrollTo(0, elem.scrollHeight);
                hubConnection.invoke("Send", text)
            },
            findUser: async function () {
                await fetch('/chat/find', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'userSearch': document.getElementById('user_search_input').value
                    },
                })
                    .then(async data => {
                        let response = await data.text()

                        if (response === '-1')
                            return 0

                        if (response === '0')
                            return 0

                        document.getElementById('user_search_input').value = '';
                        await this.chatChange(response)
                        await this.updateChats()
                        return 0
                    })
            },
            chatChange: async function (id) {
                if (this.chat_id === id)
                    return
                this.chat_id = id;
                await this.updateMessages();
            }
        }
    })
</script>
</body>
